body
{
    background-size: 1350px 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.a
{
    color:red;
    height:100px;
    font-family:"Algerian";
    font-weight:bold;
    font-size:650%;       
}
.b
{
color:black;
font-family:"Lucida Calligraphy";
font-weight:bold;
font-size:150%;
text-align:right;
}